@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --background: 0.971 0.004 264;
    --foreground: 0.162 0.013 262;
    --card: 1 0 0;
    --card-foreground: 0.162 0.013 262;
    --popover: 1 0 0;
    --popover-foreground: 0.162 0.013 262;
    --primary: 0.484 0.215 264;
    --primary-foreground: 1 0 0;
    --secondary: 0.97 0 0;
    --secondary-foreground: 0.162 0.013 262;
    --muted: 0.971 0.004 264;
    --muted-foreground: 0.527 0.015 258;
    --accent: 0.945 0.01 264;
    --accent-foreground: 0.162 0.013 262;
    --destructive: 0.577 0.245 27.325;
    --destructive-foreground: 1 0 0;
    --border: 0.918 0.008 258;
    --input: 0.918 0.008 258;
    --ring: 0.484 0.215 264;
    --chart-1: 0.646 0.222 41.116;
    --chart-2: 0.6 0.118 184.704;
    --chart-3: 0.398 0.07 227.392;
    --chart-4: 0.828 0.189 84.429;
    --chart-5: 0.769 0.188 70.08;
    --sidebar: 1 0 0;
    --sidebar-foreground: 0.162 0.013 262;
    --sidebar-primary: 0.484 0.215 264;
    --sidebar-primary-foreground: 1 0 0;
    --sidebar-accent: 0.97 0 0;
    --sidebar-accent-foreground: 0.162 0.013 262;
    --sidebar-border: 0.918 0.008 258;
    --sidebar-ring: 0.484 0.215 264;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}
